body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #d71818;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

section {
    margin: 30px 0;
}

h2 {
    color: green;
}

img {
    max-width: 100%;s
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 30px;
}

.project img {
    margin-bottom: 10px;
}
